.homeScreen {
    background: url("/images/bg4.png") center;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.homeScreenGradient {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4) linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
}

.homeScreenBody {
    color: #fff;
    z-index: 2;
    text-align: center;
    position: relative;
    display: flex;
    height: 88vh;
    justify-content: center;
    align-items: center;
}

.home-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px black;
}

.home-label-container > h1 {
    font-size: clamp(17px, 6dvmin, 40px);
    margin-bottom: 20px;
}

.home-label-container > h2 {
    font-size: clamp(14px, 4dvmin, 30px);
    font-weight: 400;
    margin-bottom: 30px;
}

.home-label-container > h3 {
    font-size: clamp(12px, 3dvmin, 20px);
    font-weight: 400;
}

.homeScreenInput {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeScreenInput > form > input {
    padding: 10px;
    outline-color: green;
    height: 30px;
    width: 35%;
    border: none;
    max-width: 600px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.homeScreenGetStarted {
    padding: clamp(10px, 14px, 14px) clamp(10px, 21px, 21px);
    font-size: clamp(12px, 3dvmin, 20px);
    color: white;
    background-color: #CB1106;
    border: none;
    margin-left: 7px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Calibri Light", serif;
}
