.nav {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 12vh;
    z-index: 10;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav-contents {
    display: flex;
    justify-content: space-between;
}

.nav-black {
    background-color: black;
}

.nav-logo {
    width: 100%;
    left: 0;
    object-fit: contain;
    padding-left: 2vw;
    cursor: pointer;
}

.nav-logo-link {
    width: clamp(100px, 15%, 15%);
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vw;
}

.nav-avatar {
    width: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.nav-text-links {
    cursor: pointer;
    font-size: 3.5vmin;
    text-decoration: none;
    color: white;
    padding: 0px 2vh;
    white-space: nowrap;
}
.nav-text-links:hover {
    box-shadow: 
    inset 2px 0 0 0 gray, /* Left inner border */
    inset -2px 0 0 0 gray; /* Right inner border */
    transition: box-shadow 0.2s ease;
}

.nav-text-links-2 {
    position: fixed;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    right: 8%;
    cursor: pointer;
    font-size: 27px;
    text-decoration: none;
    color: white;
}